body *{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 30px;
}

body {
    background-color: white;
}

.page {
    width: 1700px;
    background-color: lightblue;
    margin: auto;
    padding: 50px;
}

.vis-container {
    width: 100%;
    background-color: white;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 10px;
}

.pure-g {
    padding-top: 10px;
    justify-content: space-evenly;
    background-color: white;
}
